.tight{
    width: 165px;
    margin-right: 18px;
}

input {
    border-radius: 4px;
}

input.ng-touched.ng-valid[required], input.ng-touched.ng-valid.required  {
    border: 2px solid green;
}

input.ng-touched.ng-invalid:not(form)  {
    border: 2px solid red;
}