<app-header></app-header>

<div *ngIf = 'isAuth && !isAddEditPage'>
  <app-breadcrumbs></app-breadcrumbs>
  <div class="rng-content">
    <app-toolbox (searched)="onSearched($event)"></app-toolbox>
    <div class="component">
      <app-courses-list #coursesList [searchText]="searchText"></app-courses-list>
    </div>
  </div>
</div>

<div *ngIf = 'isAuth && isAddEditPage'>
  <app-add-course-page></app-add-course-page>
</div>

<div *ngIf = '!isAuth'>
  <app-login-page></app-login-page>
</div>


<app-footer></app-footer>

<app-lifecycle></app-lifecycle>



