.page-header {
    position: fixed;
    display: flex;
    height: 60px;
    background-color: #464547;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  .login {
    color: #fff;
    position: relative;
    display: flex;
    align-items: stretch;
    padding: 18px;
  }

  .log {
    display: flex;
    position:absolute;
    right:0;
  }


  