.no-data-message {
    margin: 18px 0;
    background-color: white;
    border: 2px solid #D5D5D5;
    padding: 18px;
    text-align: center;
    vertical-align: middle; 
}

.rng-content{
    margin-top: 90px;
    margin-bottom: 40px;
    padding: 18px;
}