<app-header></app-header>
<app-breadcrumbs></app-breadcrumbs>
<div class="rng-content">
  <app-toolbox (searched)="onSearched($event)"></app-toolbox>
  <div class="component">
    
    <app-courses-list-item *ngFor="let item of coursesItems | orderByDate: 'creationDate'" [coursesItem]="item" (deleted)="onDelete($event)"></app-courses-list-item>
  
    <div *ngIf = 'noCoursesItems' class="no-data-message">
        NO DATA, FEEL FREE TO ADD NEW COURSE
    </div>
    
    <app-load-more *ngIf = '!noCoursesItems'></app-load-more>
  </div>
</div>




